
body{
    margin: 0;
}
.navigation{
    display: flex;
    flex: 1;
    font-family: Roboto;
}
#header{
    margin-right: 200px;
    margin-left: 150px;
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 10px;
}

.links{
    display: flex;
    flex: 1;
    gap: 30px;
    margin-left: 100px;
    color: #E5E7EB;
}

.top{
    width: 71%;
    height: 500px;
    background-color: #1F2937;
    margin: auto;
    margin-top: 0;
}

.below-header{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    gap: 5px;
}
#placeholder{
    width: 400px;
    height: auto;
    margin: 0;
    margin-left: 20px;
}
#top-text{
    color: #F9FAF8;
    font-size: 48px;
    margin: 0 0 0 100px;
}
#subtext{
    color: #9CA3AF;
    font-size: 18px;
    margin: 20px 0 0 100px;
}
#signup-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    margin: 10px 0 0 100px;
    padding: 5px 20px 5px 20px;
}
#signup-button:hover{
    background-color: #2563EB;
    cursor: pointer;
}
#random{
    font-family: Roboto;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    color: #1F2937;
    font-weight: 900;
}
.empty-box{
    width: 110px;
    height: 110px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.boxes{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.subtext-under-image{
    display: flex;
    gap: 35px;
    justify-content: center;
}
.subtext-under{
    font-family: Roboto;
    font-size: 14px;
    color: #6B7280;
    text-align: center;
}
.inspiring-quote-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    width: 68%;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
}
#inspiring-quote{
    font-family: Roboto;
    margin-top: 50px;
    font-size: 30px;
    color: #6B7280;
    font-weight: 300;
}
#luffy{
    margin-left: 700px;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
#bottom-signup-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    margin-left: 50px;
}
.call-to-action-text p{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
}
#signup{
    color: #a6a8ab;
    font-size: 14px;
}
.call-to-action-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    width: 45%;
    margin: auto;
    padding: 35px;
    border-radius: 4px;
}
.footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #f3f4f6;
    background-color: #1F2937;
    width: 70%;
    margin: auto;
    padding: 10px;
}
.bottom-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 80px;
}

